h3 Share of state population that identifies as transgender

div#graphic

div.footer
    div.source Data: <a href="http://williamsinstitute.law.ucla.edu/research/how-many-adults-identify-as-transgender-in-the-united-states/">The Williams Institute</a>, 95% confidence interval shown
    div.brand Quartz | <a href="http://qz.com/">qz.com</a>
