// Match Atlas
.item-body
    h3
        font-family $qz-sans
        font-size 20px
        font-weight 400
        margin-bottom 5px

    h4
        font-family $qz-sans
        font-size 14px
        font-weight 400
        color $qz-gray-3
        margin 0 0 5px 0

#graphic
    position relative

.clearfix
	content ""
	display table
	clear both

ul.labels
    position absolute
    margin 0
    padding 0
    list-style-type none
    border none

    li
        position absolute
        text-align right
        display table
        -webkit-font-smoothing antialiased

        span
            font-family $qz-sans-light
            color $qz-gray-3
            display table-cell
            vertical-align middle

        &.united-states
            font-weight bold

.intervals
    .lower, .upper
        fill $qz-gray-3

    .point
        fill $qz-purp-3

    line
        fill none
        stroke $qz-gray-3
        stroke-width 1px
        shape-rendering crispEdges

    text
        font-family $qz-sans
        fill $qz-purp-3
        font-size 0.8em

        &.lower-label, &.upper-label
            fill $qz-gray-3

    .united-states
        font-weight bold

.annotations text
    font-family $qz-sans
    fill $qz-purp-3
    font-size 0.8em

    &.lower, &.upper
        fill $qz-gray-3

.footer
    font-family $qz-sans
    color $qz-gray-2
    width 100%
    font-size 0.8em

    .source
        width 75%
        float left
        text-align left

    .brand
        width 25%
        float left
        text-align right

p.break
    line-height 0.1em

@media only screen and (max-width 600px)
    .item-body
        h4
            font-size 12px
