#graphic
    position relative

ul.labels
    position absolute
    margin 0
    padding 0
    list-style-type none
    border none

    li
        position absolute
        text-align right
        display table
        -webkit-font-smoothing antialiased

        span
            display table-cell
            vertical-align middle

        &.united-states
            font-weight bold

.intervals
    .lower, .upper
        fill $qz-gray-2

    .point
        fill $qz-purp-3

    line
        fill none
        stroke $qz-gray-2
        stroke-width 1px
        shape-rendering crispEdges

    text
        fill $qz-purp-3
        font-size 0.8em

        &.lower-label, &.upper-label
            fill $qz-gray-2

    .united-states
        font-weight bold

.annotations text
    fill $qz-purp-3
    font-size 0.8em

    &.lower, &.upper
        fill $qz-gray-2
